.channel {
  &__img {
    height: 280px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 14px;
    }
  }
  &__subs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &_title {
      display: flex;
      align-items: center;
      gap: 14px;
    }
    &_img {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &_btns {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    @include adaptive-value(font-size, 26, 24, 1);
    @include adaptive-value(line-height, 33, 31, 1);
    color: $textColor;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $videosOpacity;
  }
  &__menus {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__flex {
    width: 100%;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 69px;
    margin-bottom: 54px;
    &_title {
      font-style: normal;
      font-weight: 700;
      @include adaptive-value(font-size, 18, 16, 1);
      @include adaptive-value(line-height, 23, 21, 1);
      color: $textColor;
    }
    &_title:hover {
      color: $redColor;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    &_video {
      display: flex;
      justify-content: space-between;
    }
    &_page {
      &_video {
        display: flex;
        align-items: center;
        gap: 32px;
        &_data {
          width: 548px;
        }
        &_img {
          width: 540px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 14px;
          }
        }
        &_title {
          font-style: normal;
          font-weight: 700;
          @include adaptive-value(font-size,26,22,1);
          @include adaptive-value(line-height,34,31,1);
          color: $textColor;
        }
        &_text {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $blackColor;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-top: 10px;
          margin-bottom: 30px;
        }
        &_time {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $videosOpacity;
        }
      }
    }
  }
  &__list {
    margin-right: 117px;
    &_text {
      font-style: normal;
      font-weight: 400;
      @include adaptive-value(font-size, 16, 14, 1);
      @include adaptive-value(line-height, 20, 18, 1);
      color: $videosOpacity;
      margin-bottom: 30px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    &_img {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &_name {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: $textColor;
    }
  }
  // &__flex{
  //   display: flex;
  //   justify-content: space-between;
  // }
  &__videos {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 33px;
      color: $textColor;
    }
    &_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_footer {
      margin-top: 61px;
    }
  }
  &__video {
    &_img {
      width: 250px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 14px;
      }
    }
    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $textColor;
      margin-top: 10px;
    }
    &_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_time {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $videosOpacity;
    }
  }
}
